.header {
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: left;
  margin-left: 4px;
}

.header__link {
  text-decoration: none;
  color: gray;
  border-radius: 5px;
  padding: 8px;
}

.header__link--active {
  color: white;
  background-color: indianred;
}
