.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 1.5rem;
  font-weight: 200;
}

hr {
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.todo-header {
  text-align: left;
  margin: 2rem auto;
}

.todo-header input {
  border: none;
  font-size: 1.6rem;
  color: rgb(168, 168, 168);
  margin-bottom: 1rem;
}

.todo-header input::placeholder {
  color: rgb(168, 168, 168);
}

.list {
  text-align: left;
  margin-bottom: 6rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delete {
  margin-left: 50px;
  border: none;
  border-radius: 5px;
  background-color: indianred;
  color: white;
  padding: 3px 8px;
}

.pomodoro {
  margin: auto;
  margin-right: 60px;
}

.btn-pomodoro {
  background-color: white;
  padding: 5px 8px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.596);
  margin: 0 2px;
  vertical-align: middle;
}

.label-pomodoro {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
.input-pomodoro {
  width: 30%;
  background-color: rgb(221, 220, 220);
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.596);
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.btn-add-task {
  border: 1px dashed whitesmoke;
  background-color: indianred;
  padding: 15px 150px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 2rem;
}

.save {
  text-align: right;
}

.btn-save {
  border: none;
  border-radius: 5px;
  background-color: indianred;
  color: white;
  padding: 8px 12px;
}

.btn-cancel {
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  color: gray;
  padding: 8px 12px;
  margin-right: 5px;
}

.theme {
  margin-left: 50px;
}
.theme button {
  border: none;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.header {
  margin: 10px 0;
}
