.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 1.5rem;
  font-weight: 200;
}

hr {
  width: 150%;
  margin-bottom: 3rem;
}

.header input {
  border: none;
  font-size: 2rem;
  color: rgb(168, 168, 168);
  margin-top: 5rem;
}

.header input::placeholder {
  color: rgb(168, 168, 168);
}

.list {
  text-align: left;
  margin-bottom: 6rem;
}

.footer {
  width: 150%;
  display: flex;
  justify-content: space-between;
}
